<div class="struts_head"><img src="img/index/logo.gif" alt="logo"/><img src="img/index/headPic.gif" alt="pic" style="float:right"/><ul class="nav"><li><a href="#">系统设置</a></li><li><a href="#">注册批准</a></li><li class="registe_login"><a href="/lims/login.page">${currentRegister.username}</a><a class="light_blue" href="#"></a></li></ul></div>