<div class="struts_foot"><img src="img/index/logoSmall.gif" alt="logo" /><div><p><a href="#">关于我们</a>|<a href="#">站点导航</a>|<a href="#">收藏本站</a>|<span>Copyright 北京航空航天大学</span></p><p>地址：北京市海淀区学院路37号　邮编：100191 京ICP备05004617</p></div></div>