<div class="struts_head"><img src="${tmplpath}img/index/logo.gif" alt="logo"/><img src="${tmplpath}img/index/headPic.gif" alt="pic" style="float:right"/><ul class="nav"><li><a href="/lims/index.action">首页</a></li><li><a href="#">实验室简介</a></li><li><a href="#">最新科研成果</a></li>
<li><a href="#">信息查询</a></li>
#if(${role.roleName} == "admin")
	<li><a href="/lims/admin/adminView.action">系统管理</a></li>
#elseif(${person})
	<li><a href="#">工作管理</a></li>
#else
#end
<li class="registe_login">
#if(${role.roleName} == "admin")
	<a href="/lims/login.page">${role.roleName}</a><a href="/lims/logout.action">退出</a>
#elseif(${person})
	<a href="/lims/login.page">$!{person.name}</a><a href="/lims/logout.action">退出</a>
#else
	<a href="/lims/login.page">登录/注册</a>
#end
<a class="light_blue" href="#"></a></li></ul></div>